*{
    margin: 0;
    padding: 0;
    /* background-color: lightsalmon; */
    font-family: roboto;
}
#header{
    width: 100%;
    height: 11vh;
    color: rgb(82, 80, 80);
    /* background-color: rgb(233, 233, 233); */
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header h3{
    box-sizing: border-box;
    line-height: 11vh;
    font-size: 25px;
    float: left;
    font-weight: lighter;
    padding-left: 10vw;
}
#header img{
    height: 10vh;
    box-sizing: border-box;
    float: right;
    padding-right: 10vw;
    margin-top: 10px;
}
#content{
    width: 70%;
    /* height: 75vh; */
    background-color: rgb(245, 245, 245);
    border: 1px solid #cacaca;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.question-container{
    width: 100%;
    background-color: lightgrey;
    /* padding: 20px 30px; */
    padding: 20px 20px 15px 20px;
    box-sizing: border-box;
    float: left;
    border-radius: 10px;
    margin-bottom: 10px;
}
.question-container:not(:first-child){
    margin-top: 20px;
}
.question-container:before{
    content:"";
    background: url(../resources/question.svg);
    background-size: 100% 100%;
    display: block;
    width:30px;
    height: 30px;
    float: left;
    margin: -5px 0 0 -5px;
    float: left;
}

.question-container p{
    padding-left: 40px;
    float: left;
}
.option-container{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    /* background-color: lightskyblue; */
    float: left;
    border: 1px solid #cacaca;
    text-align: justify;
    border-radius: 10px;
    
}
.option{
    /* width: 15vw; */
    min-width: 8vw;
    float: left;
    padding: 20px;
    /* background-color: lightpink; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right:30px;
    border-radius: 30px;
    text-align: center ;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 300ms;
}
.option-container::before{
    content: 'Options';
    float: left; 
    width:  100%;
    padding-bottom: 15px ;
    font-size: 20px;
    text-align: center;
}



.menu{
    width: 200px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    /* margin:200px 0 0 100px; */
    opacity: 0.8;
    display: none;
}
.menu ul{
    list-style-type: none;

}
.menu ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    border-bottom: 1px solid#eee;
     /* color: rgb(82, 80, 80); */
     transition:300ms;
     cursor: pointer;
}
.menu ul li:hover{
    background-color: #ccc;
}
.popup{
    margin: 10px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    width: 50%;
    min-height: 100px;
    background-color: #eee;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(82, 80, 80);
    font-size: 25px;
    display: none;
}
.popup img{
    float: right;
    margin: -8px -8px 0 0;
}
.popup button{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    /* font-weight: lighter; */
}
.textbox{
    width: 80%;
    height: 35px;
    margin-top: 20px;
    font-size: 22px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #999;
    padding-left: 10px;
    outline: none;
}
.error{
    color: #dc3545;
    font-size: 12px;
}
.yes{
    background-color: #28a745;
}
.no{
    background-color: #dc3545;
    margin-left: 20px;
}
.active{
    background-color: #28a745;
    color: white;
}

/* #delete-question-popup , #delete-option-popup , #edit-question-popup,#add-option-popup,#edit-option-popup,#add-question-popup,#add-answer-popup{
    display: none;
} */
.answer-container{
    width: 100%;
    background-color:#aaeda4;
    /* padding: 20px 30px; */
    padding: 20px 20px 15px 20px;
    box-sizing: border-box;
    float: left;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.answer-container::before{
    content: 'Answer';
    height: inherit;
    padding: 10px 30px;
    background-color:   #28a745;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin-right: 30px;
    float: left;
}
.answer-container p{
    /* padding-left: 60px; */
    float: left;
}