*{
    margin: 0;
    padding: 0;
    /* background-color: lightssalmon; */
    font-family: 'montserrat', 'sans-serif';
}
body{
    overflow: hidden;
    width: 100%;
}
.chatbot{
    bottom: -420px;
    /* bottom: 0; */
    right: 40px;
    position: fixed;
    width: 350px;
    height: 470px;
    overflow: hidden;
    /* overflow-x: scroll; */
    background: url('/resources/background.png');
    background-size: 120%;
    box-shadow: 0 -4px 8px 3px rgba(0, 0, 0, 0.2), 0 -10px 20px 10px rgba(0, 0, 0, 0.19);

}
.chatbot-header{
    width: 100%;
    height: 50px;
    background-color:#162443;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    padding: 5px;
    line-height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    z-index: 100;
}
#logo{
    height: 47px;
    padding-left: 10px;
    float: left;
}

.chatbot-header svg{
    margin-left: 15px;
}
.chatbot-header h3{
    color: whitesmoke;
    margin-left: 10px;
    float: left;
}
.chatbot-header i{
    float: right;
    right: 0;
    color: white;
    margin-left: 35px;
}
.chat{
  width: 100%;
  overflow-y: scroll;
  float:  left;
  max-height: 420px;

}
.chat-content{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    z-index: 0;
}
.msgcont{
  width: 100%;
}
.chat::-webkit-scrollbar {
    display: none;
  }
.options{
    width: 100%;
    padding: 0 10px;
    display: inline-block;

}
.chat::-webkit-scrollbar {
  display: none;
}

  .message-received {
    max-width: 80%;
      background-color:#a12023;
      z-index: 1;
      font-size: 15px;
      box-sizing: border-box;
      padding: 10px;
      margin: 7px;
      border-radius: 10px;
      color: antiquewhite;
      clear: both;

  }

  .message-sent{
    float: right;

    text-align: right;

    background-color:#a12023;
      z-index: 1;
      font-size: 15px;
      box-sizing: border-box;
      padding: 10px;
      margin: 7px;
      border-radius: 10px;
      max-width: 60%;
      color: antiquewhite;
      clear: both;
  }

  .other{
    clear: both;
    width: 80%;
    height: 35px;
    margin: auto 0;
    background-color:whitesmoke;
    float: left;
    border-radius: 10px;
    border: 1px solid #eee;
    padding-left: 10px;
    font-size: 18px;
    outline: none;
    margin-bottom: 10px;
  }

  .send{
    margin-left: 5px;

    height: 35px;
    width: 35px;
    color: antiquewhite;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #162443;
    float: left;
    
  }

  .optionbtn{
    height: 35px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
    margin: 5px 10px 5px 0;
    border: none;
    background-color: #162443;
    color: antiquewhite;
    outline: none;
    float: left;
  }
  